## 데이터 준비

In [2]:
import pandas as pd
import os

fname = os.getenv('HOME') + '/aiffel/recommendata_iu/data/lastfm-dataset-360K/usersha1-artmbid-artname-plays.tsv'
col_names = ['user_id', 'artist_MBID', 'artist', 'play']   # 임의로 지정한 컬럼명
data = pd.read_csv(fname, sep='\t', names= col_names)      # sep='\t'로 주어야 tsv를 열 수 있습니다.  
data.head(10)

,user_id,artist_MBID,artist,play
0,00000c289a1829a808ac09c00daf10bc3c4e223b,3bd73256-3905-4f3a-97e2-8b341527f805,betty blowtorch,2137
1,00000c289a1829a808ac09c00daf10bc3c4e223b,f2fb0ff0-5679-42ec-a55c-15109ce6e320,die Ärzte,1099
2,00000c289a1829a808ac09c00daf10bc3c4e223b,b3ae82c2-e60b-4551-a76d-6620f1b456aa,melissa etheridge,897
3,00000c289a1829a808ac09c00daf10bc3c4e223b,3d6bbeb7-f90e-4d10-b440-e153c0d10b53,elvenking,717
4,00000c289a1829a808ac09c00daf10bc3c4e223b,bbd2ffd7-17f4-4506-8572-c1ea58c3f9a8,juliette & the licks,706
5,00000c289a1829a808ac09c00daf10bc3c4e223b,8bfac288-ccc5-448d-9573-c33ea2aa5c30,red hot chili peppers,691
6,00000c289a1829a808ac09c00daf10bc3c4e223b,6531c8b1-76ea-4141-b270-eb1ac5b41375,magica,545
7,00000c289a1829a808ac09c00daf10bc3c4e223b,21f3573f-10cf-44b3-aeaa-26cccd8448b5,the black dahlia murder,507
8,00000c289a1829a808ac09c00daf10bc3c4e223b,c5db90c4-580d-4f33-b364-fbaa5a3a58b5,the murmurs,424
9,00000c289a1829a808ac09c00daf10bc3c4e223b,0639533a-0402-40ba-b6e0-18b067198b73,lunachicks,403

In [3]:
# artist_MBID 항목은 우리의 관심사가 아님, 사용하는 컬럼만 남기고 제거하도록 하자
# 사용하는 컬럼만 남겨줌
using_cols = ['user_id', 'artist', 'play']
data = data[using_cols]
data.head(10)

                                    user_id                   artist  play
0  00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1  00000c289a1829a808ac09c00daf10bc3c4e223b                die Ärzte  1099
2  00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3  00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4  00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5  00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6  00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7  00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8  00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9  00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403

In [4]:
data['artist'] = data['artist'].str.lower() # 검색을 쉽게 하기 위해 아티스트 문자열을 소문자로 바꿔주자
data.head(10)

                                    user_id                   artist  play
0  00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1  00000c289a1829a808ac09c00daf10bc3c4e223b                die ärzte  1099
2  00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3  00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4  00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5  00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6  00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7  00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8  00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9  00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403

In [5]:
# 첫 번째 유저가 어떤 아티스트의 노래를 듣는지 확인해보자
condition = (data['user_id'] == data.loc[0, 'user_id'])
data.loc[condition]

                                     user_id                   artist  play
0   00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1   00000c289a1829a808ac09c00daf10bc3c4e223b                die ärzte  1099
2   00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3   00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4   00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5   00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6   00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7   00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8   00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9   00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403
10  00000c289a1829a808ac09c00daf10bc3c4e223b         walls of jericho   393
11  00000c289a1829a808ac09c00daf10bc3c4e223b           letzte instanz   387
12  00000c289a1829a808ac09c00daf10bc3c4e223b                goldfrapp   361
13  00000c289a1829a808ac09c00daf10bc3c4e223b               horrorpops   358
14  00000c289a1829a808ac09c00daf10bc3c4e223b             the butchies   329
15  00000c289a1829a808ac09c00daf10bc3c4e223b            jack off jill   316
16  00000c289a1829a808ac09c00daf10bc3c4e223b         babes in toyland   310
17  00000c289a1829a808ac09c00daf10bc3c4e223b         dropkick murphys   302
18  00000c289a1829a808ac09c00daf10bc3c4e223b            all:my:faults   288
19  00000c289a1829a808ac09c00daf10bc3c4e223b                 le tigre   281
20  00000c289a1829a808ac09c00daf10bc3c4e223b               schandmaul   244
21  00000c289a1829a808ac09c00daf10bc3c4e223b                    edguy   232
22  00000c289a1829a808ac09c00daf10bc3c4e223b      maximum the hormone   231
23  00000c289a1829a808ac09c00daf10bc3c4e223b                 all ends   229
24  00000c289a1829a808ac09c00daf10bc3c4e223b             jack johnson   227
25  00000c289a1829a808ac09c00daf10bc3c4e223b                eluveitie   222
26  00000c289a1829a808ac09c00daf10bc3c4e223b                rasputina   220
27  00000c289a1829a808ac09c00daf10bc3c4e223b    london after midnight   210
28  00000c289a1829a808ac09c00daf10bc3c4e223b              the killers   208
29  00000c289a1829a808ac09c00daf10bc3c4e223b                  mutyumu   205
30  00000c289a1829a808ac09c00daf10bc3c4e223b             judas priest   198
31  00000c289a1829a808ac09c00daf10bc3c4e223b               rob zombie   198
32  00000c289a1829a808ac09c00daf10bc3c4e223b             the bosshoss   189
33  00000c289a1829a808ac09c00daf10bc3c4e223b         blue öyster cult   185
34  00000c289a1829a808ac09c00daf10bc3c4e223b             sandra nasic   183
35  00000c289a1829a808ac09c00daf10bc3c4e223b               john mayer   182
36  00000c289a1829a808ac09c00daf10bc3c4e223b           sleater-kinney   175
37  00000c289a1829a808ac09c00daf10bc3c4e223b                  the who   168
38  00000c289a1829a808ac09c00daf10bc3c4e223b                 disciple   154
39  00000c289a1829a808ac09c00daf10bc3c4e223b                  tanzwut   153
40  00000c289a1829a808ac09c00daf10bc3c4e223b               guano apes   151
41  00000c289a1829a808ac09c00daf10bc3c4e223b       the rolling stones   150
42  00000c289a1829a808ac09c00daf10bc3c4e223b          little big town   145
43  00000c289a1829a808ac09c00daf10bc3c4e223b              team dresch   137
44  00000c289a1829a808ac09c00daf10bc3c4e223b                    betty   135
45  00000c289a1829a808ac09c00daf10bc3c4e223b                       l7   135
46  00000c289a1829a808ac09c00daf10bc3c4e223b                bif naked   134
47  00000c289a1829a808ac09c00daf10bc3c4e223b               girlschool   134
48  00000c289a1829a808ac09c00daf10bc3c4e223b          the wallflowers   131

- 처음 보는 아티스트가 많음
- 추천 시스템에서는 적용하는 분야에 대한 지식이 특히 더 필요한데, 모르면 검증을 못하기 때문

## 데이터 탐색

- 추천 모델을 만들기 전에 데이터의 기본적인 정보를 보고 가자
    - 유저 수, 아티스트 수, 인기 많은 아티스트
    - 유저들이 몇 명의 아티스트를 듣고 있는지에 대한 통계
    - 유저 play 횟수 중앙값에 대한 통계
- 참고) pandas.DataFrame.nunique()은 특정 컬럼에 포함된 유니크한 데이터의 개수를 알아보는데 유용

In [6]:
# 유저 수
data['user_id'].nunique()

358868

In [7]:
# 아티스트 수
data['artist'].nunique()

291346

In [8]:
# 인기 많은 아티스트
artist_count = data.groupby('artist')['user_id'].count()
artist_count.sort_values(ascending=False).head(30)

artist
radiohead                77254
the beatles              76245
coldplay                 66658
red hot chili peppers    48924
muse                     46954
metallica                45233
pink floyd               44443
the killers              41229
linkin park              39773
nirvana                  39479
system of a down         37267
queen                    34174
u2                       33206
daft punk                33001
the cure                 32624
led zeppelin             32295
placebo                  32072
depeche mode             31916
david bowie              31862
bob dylan                31799
death cab for cutie      31482
arctic monkeys           30348
foo fighters             30144
air                      29795
the rolling stones       29754
nine inch nails          28946
sigur rós                28901
green day                28732
massive attack           28691
moby                     28232
Name: user_id, dtype: int64

In [9]:
# 유저별 몇 명의 아티스트를 듣고 있는지에 대한 통계
user_count = data.groupby('user_id')['artist'].count()
user_count.describe()

count    358868.000000
mean         48.863234
std           8.524272
min           1.000000
25%          46.000000
50%          49.000000
75%          51.000000
max         166.000000
Name: artist, dtype: float64

In [10]:
# 유저별 play횟슈 중앙값에 대한 통계
user_median = data.groupby('user_id')['play'].median()
user_median.describe()

count    358868.000000
mean        142.187676
std         213.089902
min           1.000000
25%          32.000000
50%          83.000000
75%         180.000000
max       50142.000000
Name: play, dtype: float64

## 모델 검증을 위한 사용자 초기 정보 세팅
- 우리는 본인의 음악 취향과 가장 유사한 아티스트를 추천받고 싶음
- 유튜브 뷰직 등 추천 시스템들은 이를 위해서 처음 가입하는 사용자의 취향과 유사한 아티스트 정보를 5개 이상 입력받는 과정을 거치게 하는 경우가 많음
- 우리도 동일한 과정이 필요함
- 우리가 만든 추천 시스템의 추후 검증 과정을 위해 '나는 A를 좋아한다.'라는 정보를 위 데이터셋에 5개 이상 추가해 주어야 함

In [11]:
data[data['artist'] == 'britney spears']

                                           user_id          artist  play
606       0001a57568309b287363e72dc682e9a170ba6dc2  britney spears    80
671       0001bd96207f323b53652bf400702719ad456d3c  britney spears   134
2477      0008af04f067b6a845cf110f19d8c6aebda01b21  britney spears    83
3200      000af18e0a8c33fe3ad809c3d10cfbae84d1bdd9  britney spears   312
5877      0013a259def94304f92096c51d8a087ce0c0ab77  britney spears    45
...                                            ...             ...   ...
17527956  ffe27d9f69d660f9e7f17972c9c4a84fabf32188  britney spears    34
17529219  ffe7359143a9fe15b3be2eaac57385e237f82e2c  britney spears   227
17530536  ffeb1380d0a9d92bc4adaaf048d8326bd56b3692  britney spears     6
17531151  ffed2024f670da276bc519c54e13cc78af927c29  britney spears    40
17535321  fffe3e8eb1b2db8dcb3f3fe753552d5803d085f1  britney spears    69

[20816 rows x 3 columns]

In [12]:
# 본인이 좋아하는 아티스트 데이터로 바꿔서 추가해도 됨, 단 데이터셋에 있는 것과 동일하게
my_favorite = ['maroon5', 'beyoncé', 'the pussicat dolls', 'kelly clarkson', 'britney spears']

# 'zimin'이라는 user_id가 위 아티스트의 노래를 30회씩 들었다고 가정하겠습니다.
my_playlist = pd.DataFrame({'user_id': ['zimin']*5, 'artist': my_favorite, 'play':[30]*5})

if not data.isin({'user_id':['zimin']})['user_id'].any():  # user_id에 'zimin'이라는 데이터가 없다면
    data = pd.concat([data, my_playlist])                            # 위에 임의로 만든 my_playlist 데이터를 추가해 줍니다. 

data.tail(10)       # 잘 추가되었는지 확인해 봅시다.

               user_id              artist  play
17535650  sep 20, 2008          turbostaat    12
17535651  sep 20, 2008       cuba missouri    11
17535652  sep 20, 2008     little man tate    11
17535653  sep 20, 2008           sigur rós    10
17535654  sep 20, 2008          the smiths    10
0                zimin             maroon5    30
1                zimin             beyoncé    30
2                zimin  the pussicat dolls    30
3                zimin      kelly clarkson    30
4                zimin      britney spears    30

## 모델에 활용하기 위한 전처리(실습)
- 사람이 태어나면 주민등록번호가, 학교에 가면 출석번호가 있듯이 데이터의 관리를 쉽게 하기 위해 번호를 붙여주고 싶음
- 우리가 다루는 데이터에서는 user와 artist 각각에 번호를 붙이고 싶음
- 보통 이런 작업을 indexing이라고 함
- 추천 시스템, 자연어 처리에서 자주 하는 작업들이라 직접 해보자
- 참고) pandas.DataFrame.unique()은 특정 컬럼에 포함된 유니크한 데이터만 모아줌, indexing 작업을 위해 매우 유용

In [13]:
# 고유한 유저, 아티스트를 찾아내는 코드
user_unique = data['user_id'].unique()
artist_unique = data['artist'].unique()

# 유저, 아티스트 indexing 하는 코드 idx는 index의 약자입니다.
user_to_idx = {v:k for k,v in enumerate(user_unique)}
artist_to_idx = {v:k for k,v in enumerate(artist_unique)}

In [14]:
# 인덱싱이 잘 되었는지 확인
print(user_to_idx['zimin'])    # 358869명의 유저 중 마지막으로 추가된 유저이니 358868이 나와야 합니다. 
print(artist_to_idx['black eyed peas'])

358868
376

In [15]:
# indexing을 통해 데이터 컬럼 내 값을 바꾸는 코드
# dictionary 자료형의 get 함수는 https://wikidocs.net/16 을 참고하세요.

# user_to_idx.get을 통해 user_id 컬럼의 모든 값을 인덱싱한 Series를 구해 봅시다. 
# 혹시 정상적으로 인덱싱되지 않은 row가 있다면 인덱스가 NaN이 될 테니 dropna()로 제거합니다. 
temp_user_data = data['user_id'].map(user_to_idx.get).dropna()
if len(temp_user_data) == len(data):   # 모든 row가 정상적으로 인덱싱되었다면
    print('user_id column indexing OK!!')
    data['user_id'] = temp_user_data   # data['user_id']을 인덱싱된 Series로 교체해 줍니다. 
else:
    print('user_id column indexing Fail!!')

# artist_to_idx을 통해 artist 컬럼도 동일한 방식으로 인덱싱해 줍니다. 
temp_artist_data = data['artist'].map(artist_to_idx.get).dropna()
if len(temp_artist_data) == len(data):
    print('artist column indexing OK!!')
    data['artist'] = temp_artist_data
else:
    print('artist column indexing Fail!!')

data

user_id column indexing OK!!
artist column indexing OK!!

    user_id  artist  play
0         0       0  2137
1         0       1  1099
2         0       2   897
3         0       3   717
4         0       4   706
..      ...     ...   ...
0    358868  270115    30
1    358868     396    30
2    358868   94035    30
3    358868     358    30
4    358868     550    30

[17535660 rows x 3 columns]

- data의 user_id와 artist 컬럼 내 값들이 모두 정수 인덱스의 값으로 잘 변경되었나?
- 이것으로 훈련을 위한 전처리 완료!!

## 사용자의 명시적 / 암묵적 평가
- 우리의 추천 시스템은 사용자들이 아이템을 얼마나 선호하는지를 모델링 하기를 원함
- 그러자면 사용자의 아이템 선호도를 말해 주는 유저 행동 데이터셋이 필요
- 만약 우리 데이터가 좋아요나 별점처럼 선호도를 명시적으로 나타내는 것이라면 참 좋겠지만, 지금 우리가 가지고 있는 데이터는 사용자가 아티스트의 곡을 몇 번 플레이했난 하는 것뿐임
- 이렇게 서비스를 사용하면서 자연스럽게 발생하는 암묵적인 피드백도 사용자의 아이템에 대한 평가를 알 수 있는 단서가 될 수 있음
- 암묵적 피드백 데이터셋의 특징
    - 부정적인 피드백이 없다.
    - 애초에 잡음이 많다.
    - 수치는 신뢰도를 의미한다.
    - Implicit-feedback Recommender System의 평가는 적절한 방법을 고민해봐야 한다.

In [16]:
# 1회만 play한 데이터의 비율을 보는 코드
only_one = data[data['play']==1]
one, all_data = len(only_one), len(data)
print(f'{one},{all_data}')
print(f'Ratio of only_one over all data is {one/all_data:.2%}')  # f-format에 대한 설명은 https://bit.ly/2DTLqYU

147739,17535660
Ratio of only_one over all data is 0.84%

- 우리가 앞으로 만들어갈 모델에서는 암묵적 데이터의 해석을 위해 다음과 같은 규칙을 적용
    - 한 번이라도 들었으면 선호한다고 판단
    - 많이 재생한 아티스트에 대해 가중치를 주어서 더 확실히 좋아한다고 판단

## Matrix Factorization(MF)
- 이제 모델 만들 차례
- m명의 사용자들이 n명의 아티스트에 대해 평가한 데이터를 포함한 (m, n) 사이즈의 평가 행렬을 만들것
- 행렬 중 일부는 데이터가 채워져 있지만, 나머지 부분은 데이터가 비어 있음
- 우리가 앞에서 살펴보았던 추천 시스템의 협업 필터링이란 결국은 이런 평가 행렬을 전제로 하는 것
- 만약 우리가 이 평가 행렬의 비어 있는 부분을 포함한 완벽한 정보를 얻을 수 있다면 그야말로 완벽한 추천이 가능해질 것
- 우리는 추천 시스템의 다양한 모델 중 Matrix Factorization 모델을 사용
- MF모델은 2006년 넷플릭스에서 백만 달러의 상금을 걸고 개최한 자사 추천 시스템의 성능을 10% 이상 향상시키는 챌린지를 계기로 알려지게 됨
- 기본 아이디어는
    - (m,n) 사이즈의 행렬 R을 (m,k) 사이즈의 행렬 P와 (k,n) 사이즈의 행렬 Q로 분해한다면 R이란 그저 P와 Q의 행렬곱으로 표현 가능한 간단한 아이디어
    - 대체로 k는 m이나 n보다 훨씬 작은 값이기 때문에 계산량 측면으로도 훨씬 유리해짐
    - 하지만 아이디어의 단순함에도 불구하고 MF모델은 성능이 준수하고 Scalability가 좋아서 많이 사용되는 모델
- 모델의 목표는 모든 유저와 아이템에 대해 k-dimension의 벡터를 잘 만드는 것
- 벡터를 잘 만드는 기준은 유저의 i의 벡터와 아이템 j의 벡터를 내적 했을 때 유저 i가 아이템 j에 대해 평가한 수치와 비슷한지
- 이번에 사용할 모델은 Collaborative Filtering for Implicit Feedback Datasets 논문에서 제안한 모델을 사용할 것
- 이 모델의 경우 이전 스텝에서 내가 'black eyed peas'를 play했다는 데이터를 추가했기 때문에 나의 벡터와 black eyed peas의 벡터를 곱했을 때 1에 가까워야 모델이 잘 학습하는 것을 목표
- 오해의 소지가 있는데 black eyed peas를 5번 들었어도 모델이 근사하고자 하는 것이 아티스트를 선호하는지 안 하는지를 맞히는 것이기 때문에 두 벡터를 곱했을 때 5에 가까워지는 대신 1에 가까워져야 함
- 이를 통해 queen에 대해서도 나의 벡터와 queen의 벡터를 곱하여 수치를 예상할 수 있음
- 만약 목표가 유저의 재생 횟수를 맞혀야하는 것이라면 그에 맞는 다른 모델을 사용해야 함
- 모델의 구조는 거의 똑같고, 모델의 목표를 재생횟수를 맞히는 쪽으로 놓고 학습하면 됨

## CSR(Compressed Sparse Row) Matrix
- 유저 X 아이템 평가 행렬을다시 생각해 보자
- 유저는 36만 명이고 아티스트는 29만 명
- 이거를 행렬로 표현하고 행렬의 각 원소에 정수 한개가 들어간다면 36만 * 29만* 1byte ≈ 97GB가 필요
- 메모리가 너무 거대한 행렬을 메모리에 올려놓고 작업하는것은 불가능할 것, 이런 경우의 좋은 대안이 되는 것이 CSR임
- 다음 스텝에서 수행할 모델 학습의 input으로 사용할 데이터 타입을 CSR Matrix로 할 것
- CSR Matrix는 Sparse한 matrix에서 0이 아닌 유효한 데이터로 채워지는 데이터의 값과 좌표 정보만으로 구성하여 메모리 사용량을 최소화하면서도 Sparse한 matrix와 동일한 행렬을 표현할 수 있도록 하는 데이터 구조
- CSR Matrix는 data, indices, indptr 로 행렬을 압축하여 표현
- data는 0이 아닌 원소를 차례로 기입한 값
    - data = [1, 2, 3, 4, 5, 6]
- indices는 data의 각 요소가 어느 열에 있는지를 표현한 indexdla
    - indices = [0, 4, 1, 3, 0, 3]
- indptr은 [최초시작행번호,시작행에서의 데이타 개수,두번째 행에서의 데이타 누적 개수,...,마지막행에서의 데이타 누적개수] 입니다. 이를 통해 data의 요소들이 어느 행(row)에 있는지를 알 수 있음
    - indptr = [0, 2, 4, 4, 6]
- 이를 통해 data[0:2]는 첫 번째 행, data[2:4]는 두 번째 행, data[4:4]는 세 번째 행, data[4:6]는 네 번째 행에 위치함을 나타낼 수 있게 됨

In [17]:
# 실습 위에 설명보고 이해해서 만들어보기
from scipy.sparse import csr_matrix

num_user = data['user_id'].nunique()
num_artist = data['artist'].nunique()

csr_data = csr_matrix((data.play, (data.user_id, data.artist)), shape= (num_user, num_artist))
csr_data

<358869x291347 sparse matrix of type '<class 'numpy.int64'>'
	with 17535578 stored elements in Compressed Sparse Row format>

## MF 모델 학습하기
- implicit 패키지는 이전 스템에서 설명한 암묵적 dataset을 사용하는 다양한 모델을 굉장히 빠르게 학습할 수 있는 패키지
- 이 패키지에 구현된 als 모델을 사용
- Matrix Factorization에서 쪼개진 두 Feature Matrix를 한꺼번에 훈련하는 것은 잘 수렴하지 않기 때문에, 한쪽을 고정시키고 다른 쪽을 학습하는 방식을 번갈아 수행하는 AlternatingLeastSquares방식이 효과적인 것으로 알려져 있음

In [18]:
from implicit.als import AlternatingLeastSquares
import os
import numpy as np

# implicit 라이브러리에서 권장하고 있는 부분입니다. 학습 내용과는 무관합니다.
os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

- AlternatingLeastSquares 클래스의 __init__ 파라미터를 살펴보자
    - factors : 유저와 아이템의 벡터를 몇 차원으로 할 것인지
    - regularization : 과적합을 방지하기 위해 정규화 값을 얼마나 사용할 것인지
    - use_gpu : GPU를 사용할 것인지
    - iterations : epochs와 같은 의미입니다. 데이터를 몇 번 반복해서 학습할 것인지
- 1과 4를 늘릴수록 학습 데이터를 잘 학습하게 되지만 과적합의 우려가 있으니 좋은 값을 찾아야 함

In [19]:
# Implicit AlternatingLeastSquares 모델의 선언
als_model = AlternatingLeastSquares(factors=100, regularization=0.01, use_gpu=False, iterations=15, dtype=np.float32)

In [20]:
# als 모델은 input으로 (item X user 꼴의 matrix를 받기 때문에 Transpose해줍니다.)
csr_data_transpose = csr_data.T
csr_data_transpose

<291347x358869 sparse matrix of type '<class 'numpy.int64'>'
	with 17535578 stored elements in Compressed Sparse Column format>

In [21]:
# als 모델은 input으로 (item X user 꼴의 matrix를 받기 때문에 Transpose해줍니다.)
csr_data_transpose = csr_data.T
csr_data_transpose

<291347x358869 sparse matrix of type '<class 'numpy.int64'>'
	with 17535578 stored elements in Compressed Sparse Column format>

In [22]:
# 모델 훈련
als_model.fit(csr_data_transpose)

  0%|          | 0/15 [00:00<?, ?it/s]

- Zimin 벡터와 black eyed peas의 벡터를 어떻게 만들고 있는지
- 두 벡터를 곱하면 어떤 값이 나오는지

In [23]:
zimin, black_eyed_peas = user_to_idx['zimin'], artist_to_idx['black eyed peas']
zimin_vector, black_eyed_peas_vector = als_model.user_factors[zimin], als_model.item_factors[black_eyed_peas]

print('슝=3')

슝=3

In [24]:
zimin_vector

array([-0.04648459,  0.3648939 , -0.20338179, -0.22297885,  0.9219488 ,
        0.12580888,  0.5812407 , -0.9224181 , -0.4036426 ,  0.05013371,
        0.00175424,  0.25763503,  0.54710144, -0.2366052 ,  0.10319036,
        0.07749648, -0.2788808 ,  0.08401471, -0.33007637, -0.19192085,
       -0.57719696,  0.27830082,  0.13313563,  0.04648222,  0.67177606,
        0.13926367,  0.30570826,  0.78772366, -1.1335237 , -0.3021488 ,
       -0.8649375 , -0.66189504,  0.06425138, -0.96298796,  1.1857414 ,
       -1.43104   ,  1.2144641 , -0.7945853 , -0.60328794,  0.06899271,
        0.1887856 , -0.71630734,  0.5140877 , -0.29677245, -0.33856824,
       -0.72733915,  0.4616055 , -0.994714  ,  1.6523902 ,  1.7035486 ,
       -0.6203991 ,  0.6294929 , -0.09832779,  0.51420355, -0.32065302,
        0.37446436,  0.47246543,  0.9982551 ,  0.0713985 , -0.34949252,
       -0.9142067 , -0.1209568 ,  0.15930785,  0.5485488 ,  1.0137757 ,
        1.1680065 ,  0.401174  ,  0.93970436, -0.27199388, -0.6036422 ,
       -0.39318886, -0.31085333,  0.4175946 , -0.24882244, -0.05868583,
       -0.9203941 ,  0.04558128, -0.08387297,  0.18485762, -0.3491525 ,
        0.8827262 , -0.00841246, -0.974202  ,  0.01609808,  0.20839748,
       -0.60844594, -0.03560684, -0.49535918,  0.21512924,  0.28453892,
        0.5185952 , -0.4694439 , -0.19282146, -0.2504153 , -0.34187347,
        0.68241423,  0.42173177,  1.2068689 , -0.3855415 , -0.6094877 ],
      dtype=float32)

In [25]:
black_eyed_peas_vector

array([ 0.01818551,  0.00742968, -0.00050724,  0.01888413,  0.00630871,
        0.01363179,  0.0119412 ,  0.00024859,  0.00491386,  0.01292655,
        0.0150742 ,  0.00585952,  0.00868901,  0.01905969,  0.00547433,
        0.01690541,  0.00699962,  0.01420237,  0.01115097, -0.0085082 ,
       -0.00291639, -0.01274452,  0.00754986,  0.00964843,  0.01640838,
        0.01129539,  0.00102403,  0.00454144, -0.00531431,  0.00920102,
        0.00079506,  0.01053905,  0.02806824, -0.00869372,  0.00742187,
       -0.00829415,  0.03187857,  0.00055361, -0.0158327 ,  0.01068693,
        0.00750785, -0.01187031,  0.00183798,  0.00720743,  0.00431855,
       -0.00088618,  0.00539034,  0.00868777,  0.02351612,  0.03336118,
       -0.00246677,  0.0090515 ,  0.00713183,  0.00405984,  0.01254994,
       -0.00577569,  0.01939764,  0.01334954,  0.01089848,  0.00708403,
       -0.00666727,  0.00775914,  0.02086968, -0.00529341,  0.02416931,
       -0.00780849, -0.00635321,  0.01632261,  0.00361447,  0.00859702,
        0.01515548,  0.00606305,  0.00517329,  0.0061886 , -0.0051887 ,
       -0.00645102, -0.00167924, -0.02009496,  0.00340629, -0.00902457,
        0.00666737,  0.01972806,  0.00426273,  0.00802236,  0.00962084,
        0.00924644, -0.00332979, -0.00490086,  0.00071371,  0.01931058,
        0.01514629,  0.01113405, -0.01130119,  0.00895416, -0.0019624 ,
        0.0219394 ,  0.01305623,  0.04250601,  0.01880591, -0.00070124],
      dtype=float32)

In [26]:
# zimin과 black_eyed_peas를 내적하는 코드
np.dot(zimin_vector, black_eyed_peas_vector)

0.3296904

In [27]:
queen = artist_to_idx['queen']
queen_vector = als_model.item_factors[queen]
np.dot(zimin_vector, queen_vector)

0.11968939

- 모델을 잘 만들려면 데이터에 대한 이해도가 높아야 하는데 추천 시스템에서 사용하는 데이터이기 때문

## 4-8. 비슷한 아티스트 찾기 + 유저에게 추천하기
### 비슷한 아티스트 찾기
- AlternationingLeastSquarses 클래스에 구현되어 있는 similar_items 메서드를 통하여 비슷한 아티스트를 찾음

In [29]:
# the pussicat doll로 찾음
favorite_artist = 'britney spears'
artist_id = artist_to_idx[favorite_artist]
similar_artist = als_model.similar_items(artist_id, N=15)
similar_artist

[(550, 0.99999994),
 (350, 0.95765823),
 (1800, 0.93243843),
 (396, 0.92231196),
 (391, 0.89865613),
 (618, 0.88592565),
 (2249, 0.8540121),
 (358, 0.84066844),
 (369, 0.83665395),
 (354, 0.82032406),
 (355, 0.81860036),
 (339, 0.8163305),
 (899, 0.81255716),
 (1777, 0.8109396),
 (534, 0.8105621)]

In [30]:
# (아티스트의 id, 유사도) Tuple 로 반환
# 아티스트의 id를 다시 아티스트의 이름으로 매핑 시켜 주겠음
#artist_to_idx 를 뒤집어, index로부터 artist 이름을 얻는 dict를 생성합니다. 
idx_to_artist = {v:k for k,v in artist_to_idx.items()}
[idx_to_artist[i[0]] for i in similar_artist]

['britney spears',
 'rihanna',
 'lady gaga',
 'beyoncé',
 'christina aguilera',
 'the pussycat dolls',
 'katy perry',
 'kelly clarkson',
 'justin timberlake',
 'nelly furtado',
 'madonna',
 'leona lewis',
 'kylie minogue',
 'mariah carey',
 'gwen stefani']

In [31]:
def get_similar_artist(artist_name: str):
    artist_id = artist_to_idx[artist_name]
    similar_artist = als_model.similar_items(artist_id)
    similar_artist = [idx_to_artist[i[0]] for i in similar_artist]
    return similar_artist

print("슝=3")

슝=3

In [32]:
# 저는 힙합도 좋아하기 때문에 2pac으로도 확인
get_similar_artist('2pac')

['2pac',
 'notorious b.i.g.',
 'nas',
 'dr. dre',
 'jay-z',
 'the game',
 'snoop dogg',
 '50 cent',
 'ice cube',
 'ludacris']

In [33]:
get_similar_artist('lady gaga')

['lady gaga',
 'britney spears',
 'rihanna',
 'katy perry',
 'beyoncé',
 'christina aguilera',
 'the pussycat dolls',
 'leona lewis',
 'kelly clarkson',
 'justin timberlake']

## 유저에게 아티스트 추천하기
- AlternatingLeastSquares 클래스에 구현되어 있는 recommend 메서드를 통하여 제가 좋아할 만한 아티스트를 추천
- filter_already_liked_items는 유저가 이미 평가한 아이템은 제외하는 Argument

In [34]:
user = user_to_idx['zimin']
# recommend에서는 user*item CSR Matrix를 받습니다.
artist_recommended = als_model.recommend(user, csr_data, N=20, filter_already_liked_items=True)
artist_recommended

[(350, 0.5101137),
 (1800, 0.5025024),
 (391, 0.47964585),
 (901, 0.45537373),
 (369, 0.4481352),
 (2249, 0.446592),
 (618, 0.44559053),
 (354, 0.43875605),
 (534, 0.4277353),
 (339, 0.40288073),
 (1777, 0.40099704),
 (899, 0.3851173),
 (5555, 0.36870697),
 (355, 0.36748266),
 (7317, 0.34965622),
 (944, 0.33722377),
 (376, 0.32969043),
 (724, 0.31339797),
 (4803, 0.31330988),
 (2695, 0.31134105)]

In [35]:
[idx_to_artist[i[0]] for i in artist_recommended]

['rihanna',
 'lady gaga',
 'christina aguilera',
 'pink',
 'justin timberlake',
 'katy perry',
 'the pussycat dolls',
 'nelly furtado',
 'gwen stefani',
 'leona lewis',
 'mariah carey',
 'kylie minogue',
 'timbaland',
 'madonna',
 'fergie',
 'avril lavigne',
 'black eyed peas',
 'lily allen',
 'ne-yo',
 'sugababes']

- rihanna를 추천해줌
- 모델은 왜 rihanna를 추천해줬을까?
- AlternatingLeastSquares 클래스에 구현된 explain 메서드를 사용하면 제가 기록을 남긴 데이터 중 이 추천에게 기여한 정도를 확인

In [36]:
rihanna = artist_to_idx['rihanna']
explain = als_model.explain(user, csr_data, itemid=rihanna)

- 이 method는 추천한 콘텐츠의 점수에 기여한 다른 콘텐츠와 기여도를 반환
- 어떤 아티스트들이 이 추천에 얼마나 기여?

In [37]:
[(idx_to_artist[i[0]], i[1]) for i in explain[1]]

[('beyoncé', 0.18980102358470333),
 ('britney spears', 0.18902872235254128),
 ('kelly clarkson', 0.13269763366639586),
 ('the pussicat dolls', 0.00030279213878547695),
 ('maroon5', -0.00032755341033475745)]

- beyoncé, britney spears가 가장 크게 기여

### 마무리
- 아쉬운점
    - 유저, 아티스트에 대한 Meta 정보를 반영하기 쉽지 안음
    - 연령대별로 음악 취향이 굉장히 다르지 않을까?
    - 유저가 언제 play 했는지에 반영하기 쉽지 않음
    - 10년 전에 즐겨듣던 아티스트와 지금 즐겨듣는 아티스트를 비교해보자
- 딥러닝의 발전으로 MF 이외의 모델 구조도 많이 연구 / 사용되고 있음
- 하지만 어떤 추천 모델도 핵심은 MF와 비슷
- 유저와 아이템에 대한 벡터를 잘 학습하여 취향에 맞게 아이템을 보여주거나 걸러내는 역할